.container{
text-align: center;
}

.container img{
 margin-top: 50px;   
 width: 40%;
 height: 23%;
 border-radius: 30px;
 border: 10px solid;
 border-color: antiquewhite;
}

.container h1{
    font-size: 70px;
}

.container h2{
    font-size: 35px;
}

.container h3{
    font-size: 20px;
}

.container a img{
    width: 80px;
    height: 80px;
    border: none;
    border-radius: none;
}

nav{
    justify-content: space-between;
    background-color: palevioletred;
}

nav li{
    display: inline-block;
    padding: 10px;
    transition: 0.1s ease ease-in-out;
    font-size: 20px;
    font-weight: bold;
}

nav li a{
    color: black;
}

nav li:hover{
    background-color: palegreen;
}

nav2{
    color: violet;
}

nav2 h1{
    font-size: 40px;
    text-align: center;
}

nav2 p{
    font-size: 25px;
    font-style: normal;
    text-align: center;
    padding: 50px;
    background-color: lightslategray;
}